body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 39, 1);
  filter: brightness(1.1)  contrast(1.1);
  background: #01380A;
  background: radial-gradient(circle,rgba(1, 37, 7, 1) 0%, rgb(1, 102, 14) 5%, rgb(1, 37, 7) 50%);
}

#tabuleiro{
    
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8, 80px);
    border: 4px solid rgb(61, 61, 61);
}
.CasaBranca{
  background-color: #f0d9b5;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    cursor: pointer;
}

.CasaPreta {
    background-color:#b58863;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    cursor: pointer;
}
.peca {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.peca.peao.branco.default {background-image: url(Imagens/Peao_branco_default.png);}
.peca.torre.branco.default { background-image: url(Imagens/Torre_branco_default.png);}
.peca.cavalo.branco.default { background-image: url(Imagens/Cavalo_branco_default.png);}
.peca.bispo.branco.default { background-image: url(Imagens/Bispo_branco_default.png);}
.peca.dama.branco.default { background-image: url(Imagens/Dama_branco_default.png);}
.peca.rei.branco.default { background-image: url(Imagens/Rei_branco_default.png);}

.peca.peao.preto.default { background-image: url(Imagens/Peao_preto_default.png);}
.peca.torre.preto.default { background-image: url(Imagens/Torre_preto_default.png);}
.peca.cavalo.preto.default { background-image: url(Imagens/Cavalo_preto_default.png);}
.peca.bispo.preto.default { background-image: url(Imagens/Bispo_preto_default.png);}
.peca.dama.preto.default { background-image: url(Imagens/Dama_preto_default.png);}
.peca.rei.preto.default { background-image: url(Imagens/Rei_preto_default.png);}

.CasaBranca:hover,
.CasaPreta:hover{
    filter: brightness(1.2) contrast(1.1) drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}
.CasaBranca.selecionada,
.CasaPreta.selecionada {
    background-color:rgb(54, 44, 30);
    
}
#button-interface{
    background-color: #f0d9b5d5;
    width: 8px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    cursor: pointer;
}
#button-interface:active {
    transform: translateY(5px);
}
#interface {
    background-color: #18171796;
    width: 200px;
    height: 650px;

    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.button-configs-interface {
    background-color: #f0d9b5d5;
    width: 80px;
    height: 50px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
.button-configs-interface:active {
    transform: translateY(5px);
}